:host {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: unset;
  }

  > header {
    display: flex;
    padding: 2rem 5rem;
    margin: 0;
    position: sticky;
    background: rgb(5, 5, 5);
    top: 0;
    z-index: 2;
    border-bottom: 1px var(--tui-border-focus) solid;

    > section {
      gap: 5rem;
      display: flex;

      > div {
        display: flex;
        align-items: center;

        > h1 {
          font-size: 3rem;
        }

        > button {
          color: rgb(203, 213, 225, 0.5);
        }
      }

      > section {
        display: flex;
        gap: 1rem;
        align-items: center;

        > span {
          font-size: 2rem;

          &.success {
            color: var(--tui-text-action);
          }

          &.danger {
            color: var(--tui-text-negative);
          }
        }
      }
    }
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
    justify-content: center;
  }

  > footer {
    display: flex;
    padding: 2rem 5rem;
    margin: 0;
    position: sticky;
    background: rgb(5, 5, 5);
    bottom: 0;
    z-index: 2;
    border-top: 1px var(--tui-border-focus) solid;
  }
}
