body {
  background: rgb(5, 5, 5);
  color: rgb(203, 213, 225, 0.5);
  font-family: Inter, sans-serif;
  margin: 0;
}

.t-cell {
  color: gray !important;

  &[data-type='weekend'] {
    color: var(--tui-status-positive) !important;
    cursor: default !important;
  }

  &[data-range='active'] {
    color: lightgreen !important;
  }

  &.t-cell_today {
    color: var(--tui-text-primary) !important;
    font-weight: bold;
    background: rgb(203, 213, 225, 0.5);
    border-radius: 0.625rem;
  }
}
